body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Patua One', sans-serif;
  margin-top: 20px;
}

h2, b {
  font-family: 'Patua One', sans-serif;
}

b {
  font-weight: normal;
  font-size: 17px;
}

.new-post-btn {
  margin-top: 20px;
}

form a.btn-danger {
  margin-left: 10px;
}